<div class="w-100 m-auto p-5 bg-light">

    <div class="">
        <div>
            <h3 class="py-4">
                <%= taskType %>
            </h3>
        </div>
        <div class="fs-6 lh-lg">
            <%- data.article %>
        </div>
    </div>

    <% for(var i=0; i < data.questions.length; i++) { %>
        <div class="border p-4 rounded-3 mt-5">
            <b class="pb-3">Q<%= i+1 %></b>
            <span class="d-block fs-6 my-3">
                <%- data.questions[i].question %>
            </span>

            <% for(var j = 0; j < data.questions[i].options.length; j++) { %>
                <label class="form-check-label d-block my-2 fs-6" for="<%= 'option-'+ i + '-' + j %>">
                    <input class="form-check-input" type="radio" name="<%= 'option-'+ i %>" id="<%= 'option-'+ i + '-' + j %>">
                    <%= data.questions[i].options[j] %>
                </label>
            <% } %>

            <button class="btn btn-outline-dark my-2" 
                type="button" data-bs-toggle="collapse" data-bs-target="#<%= 'collapse-' + i%>" aria-expanded="false" aria-controls="<%= 'collapse-' + i%>">
                Show answer
            </button>
            <div class="collapse" id="<%= 'collapse-' + i%>">
                <div class="card card-body">
                    Option <%= data.questions[i].answer %>. <%= data.questions[i].explanation %> 
                </div>
            </div>
        </div>
    <% } %>
</div>